 <!--==========================
      Servicios Section
    ============================-->
    <section id="#services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Servicios</h3>
            <p>¡Tenemos la mayor variedad en prendas totalmente personalizables para que queden justo como tu promo quiere!.</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Prendas</a></h4>
                <p class="description">Gran variedad de telas y modelos para un diseño único</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Envios a todo  el país</a></h4>
                <p class="description">Si son 20 o más egresados los que contratan, podemos enviarles su pedido a cualquier parte del país.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Escudos</a></h4>
                <p class="description">Una serie de escudos prearmados que pueden elegir o inspirarse para hacer el que quieran a su medida.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a href="">Sublimaciones</a></h4>
                <p class="description">Contamos con calidad y diseño en sublimaciones</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                <h4 class="title"><a href="">Uniformes escolares</a></h4>
                <p class="description">Trabajamos con gran parte de los colegios de Corrientes, Capital</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                <h4 class="title"><a href="">Equipos de Futbol</a></h4>
                <p class="description">Fabricamos a partir de 10 Camisetas para tu equipo personalizado , con el diseño que desees, excelente calidad y con un acabado de diez.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
  
     
