<!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Nosotros</h3>
            <p> 

                Más de 10 años pasaron desde que empezamos a hacer  indumentaria colegial, empresarial y para egresados, con un mismo compromiso, generando un equipo que trabaja incansablemente para brindar excelencia. Nuestras confecciones incluyen la seguridad y solidez que deriva del personal experimentado exclusivamente seleccionada para cada área, desde el asesoramiento, hasta la entrega y seguimiento de post-venta. Proveedores confiables y telas de máxima calidad, diseños que generan tendencia cada año y punto de venta real, al que podes acudir en cualquier momento del año. Eso es Juliana Uniformes desde hace más de una década y no para de crecer..</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
              
              </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Productos</a></h4>
                <p class="description">Trabajamos con varias empresas y colegios de la ciudad de Corrientes</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="">Galeria</a></h4>
                <p class="description">Hecha un vistazo a nuestros trabajos entregados</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">Estadisticas</a></h4>
                <p class="description">Grado de Satisfacción de nuestros clientes</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/about-img.svg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img src="assets/img/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Realizamos indumentaria para egresados de Jardin, primaria y secundaria con un tiempo de producción mucho más corto.</h4>
              <p>
             La más alta calidad
              </p>
              <p>
            Garantizando la excelencia
              </p>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="img/about-extra-2.svg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>.</h4>
              <p>
             
              </p>
              <p>
                
              </p>
              <p>
              
              </p>
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->

